---
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ site.title }}</title>
  <meta http-equiv="refresh" content="0; url={{ '/trailhead/' | url }}"/>
  <link rel="canonical" href="{{ '/trailhead/' | url }}"/>
</head>
<body>
  <p>Redirecting to <a href="{{ '/trailhead/' | url }}">the trailhead</a>…</p>
</body>
</html>
